* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*,
:after,
:before {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  background: #fff;
  color: #666;
  font: 400 12px arial;
  font-family: PingFang SC, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, Microsoft YaHei;
}
body {
  font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5B8B\4F53, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  color: #222;
}
h1 {
  font-size: 18px;
}
a,
a:hover {
  color: #f40;
  text-decoration: none;
}
a {
  color: #08c;
  text-decoration: none;
}
em {
  font-style: normal;
  font-weight: 400;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.width-vertical {
  width: 100%;
  margin-bottom: 20px;
}
.footer {
  position: relative;
  margin: 60px auto 0;
  padding: 7px 0 9px;
  border-top: 1px solid #ddd;
  width: 1200px;
}
.footer .footer-hd p {
  margin-bottom: 8px;
  line-height: 27px;
  border-bottom: 1px solid #ddd;
}
.footer .footer-bd p,
.footer .footer-hd p {
  padding-bottom: 8px;
  overflow: hidden;
  zoom: 1;
}
.footer .footer-bd a,
.footer .footer-hd a {
  display: inline;
  margin: 0 4px;
  white-space: nowrap;
  color: #6c6c6c;
}
.footer .footer-bd b,
.footer .footer-hd b {
  display: inline;
  margin: 0 3px;
  font-weight: 400;
  color: #ddd;
}
.footer .footer-bd a:hover,
.footer .footer-hd a:hover {
  color: #f40;
  text-decoration: none;
}
.footer .footer-bd span,
.footer .footer-hd span {
  margin: 0 4px;
}
.footer .footer-bd span a,
.footer .footer-hd span a {
  float: none;
}
.footer .footer-bd em,
.footer .footer-hd em,
.footer .footer-bd span,
.footer .footer-hd span {
  display: inline;
  white-space: nowrap;
  color: #9c9c9c;
}
.footer .footer-bd em,
.footer .footer-hd em {
  margin-left: 30px;
}
.footer .footer-ft {
  font-size: 40px;
}
.footer .footer-ft a:nth-of-type(1) {
  margin-left: 15px;
  display: inline-block;
  background-position: 0px 0px;
  width: 36px;
  height: 40px;
  background-image: url(../img/footer-1.gif);
}
.footer .footer-ft a:nth-of-type(2) {
  margin-left: 15px;
  display: inline-block;
  height: 40px;
  background-position: 0px 0px;
  width: 30px;
  background-image: url(../img/footer-2.jpg);
}
.footer .footer-ft a:nth-of-type(3) {
  background-position: -40px 0px;
  width: 33px;
  margin-left: 15px;
  display: inline-block;
  height: 40px;
  background-image: url(../img/footer-2.jpg);
}
.footer .footer-ft a:nth-of-type(4) {
  background-position: -80px 0px;
  width: 50px;
  margin-left: 15px;
  display: inline-block;
  height: 40px;
  background-image: url(../img/footer-2.jpg);
}
.footer .footer-ft a:nth-of-type(5) {
  background-position: -140px 0px;
  width: 83px;
  margin-left: 15px;
  display: inline-block;
  height: 40px;
  background-image: url(../img/footer-2.jpg);
}
.footer .footer-ft a:nth-of-type(6) {
  background-position: -140px 0px;
  width: 83px;
  margin-left: 15px;
  display: inline-block;
  height: 40px;
  background-image: url(../img/footer-2.jpg);
}
.footer .footer-ft a:nth-of-type(7) {
  background-position: 0px -18px;
  width: 250px;
  background-image: url(../img/footer-3.png);
  margin-left: 15px;
  display: inline-block;
  height: 40px;
}
.footer .footer-ft a:nth-of-type(8) {
  background-position: -650px 0px;
  width: 105px;
  margin-left: 15px;
  display: inline-block;
  height: 40px;
  background-image: url(../img/footer-2.jpg);
}
.footer .footer-ft a:nth-of-type(9) {
  background-position: -345px 0px;
  width: 82px;
  margin-left: 15px;
  display: inline-block;
  height: 40px;
  background-image: url(../img/footer-2.jpg);
}
.footer .footer-ft a:nth-of-type(10) {
  background-position: -761px 0px;
  width: 97px;
  margin-left: 15px;
  display: inline-block;
  height: 40px;
  background-image: url(../img/footer-2.jpg);
}
.footer .footer-ft a:nth-of-type(11) {
  background-position: -884px 0px;
  width: 249px;
  margin-left: 15px;
  display: inline-block;
  height: 40px;
  background-image: url(../img/footer-2.jpg);
}
