.screen-outer {
  width: 1190px;
  margin: 0 auto;
  height: 522px;
}

.main {
  float: left;
  width: 900px;
  height: 100%;
  clear: left;
}

.tbh-service {
  position: relative;
  float: left;
  width: 190px;
}

.J_Service {
  height: 522px;
  position: relative;
  font-size: 14px;
  color: #fff;
  width: 190px;
}

.service-bd {
  border: 1px solid #ff5000;
  border-top: none;
  padding-top: 5px;
  padding-bottom: 3px;

  li {
    overflow: hidden;
    line-height: 32px;
    height: 32px;
    padding-left: 25px;
    padding-right: 19px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    min-width: 145px;
    color: #666;

    .service-arrow {
      position: absolute;
      right: 10px;
      font-size: 12px;
    }
  }

  a {
    color: #666;
  }
}

.a-all {
  transition: all .2s;
}

.service-float {
  transform: translateZ(0);
  display: none;
  position: absolute;
  left: 188px;
  top: 0;
  padding: 0 0 0 18px;
  width: 692px;
  height: 522px;
  border: 2px solid #F94A14;
  box-shadow: 2px 2px 0 #dcdadb;
  background-color: #FFF;
  color: #333;
  font-size: 12px;
  z-index: 22;
}

.service-float-item {
  display: none;
}

.service-fi-links {
  padding-top: 10px;
  width: 415px;
  height: 490px;
  overflow: hidden;
  padding-right: 12px;
  padding-left: 10px;
  float: left;
}

.service-panel {
  font-size: 12px;
  margin-bottom: 5px;

  h5 {
    position: relative;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: #333;

    span {
      font-size: 12px;
      right: -6px;
      position: absolute;
      font-weight: 400;
      top: 0;
    }
  }

  p {
    height: 104px;
    overflow: hidden;
    padding-bottom: 33px;
    line-height: 26px;
  }
}




.service-rmd {
  float: left;
  width: 253px;
  border-left: 1px solid #f4f4f4;
  position: relative;
  height: 498px;
  padding-top: 20px;
}

.col-right {
  float: right;
  width: 290px;
  height: 100%;
  margin-top: 10px;
  position: relative;
}